
.sign-input, .input {
    background-color: var(--background-contrast);
	font-size: 18px;
    padding: 2%;
	width: 80%;
	outline: none;
	background: #FFFFFF;
	color: var(--text-color);
	border: 1px solid #C4D1EB;
	border-radius: 5px;
	box-shadow: 3px 3px 2px 0px var(--background-contrast);
	transition: .3s ease;
    margin-top: 5%;
    background-color: var(--background-contrast);
}



.sign-input:focus , .input:focus {
	background: var(--background-color);
	border: 1px solid #5A7EC7;
	border-radius: 10px;
}
    

.sign-input::placeholder, .input::placeholder {
	color: #DDDDDD;
}

.input {
	padding: 1%;
}

